html {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 5rem;
  background-color: #121212;
  color: #e0e0e0;
  /* transition: ease-in 1.5s; */
}

body a {
  color: #4ecca3;
  text-decoration: none;
}

.sidenav {
  height: 100vh;
  width: 10rem;
  background-color: #1e1e1e;
  padding: 1rem;
  display: none;
  flex-direction: column;
}

header {
  font-family: Quicksand Medium;
}

.sidenav span {
  margin-bottom: 1rem;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

header nav ul a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  margin: 0.15rem;
  width: 100%;
  font-style: italic;
  font-size: 1.5rem;
  display: block;
  height: 2rem;
}

#desktop-view {
  display: none;
}

section {
  height: fit-content;
  width: 50%;
  margin-left: 48%;
  margin-bottom: 10rem;
}

#home {
  position: fixed;
  padding: 0;
  margin-left: unset;
}

#home h1,
#home h2 {
  font-size: 2.5rem;
  font-family: Quicksand Medium;
  line-height: 1.5rem;
}

#home h2 {
  color: #b0b0b0;
}

#home p,
em {
  color: #62f9d5;
}

#home nav ul {
  list-style-type: none;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

#home nav ul a {
  color: #b0b0b0;
  width: fit-content;
}

#home nav ul a:hover {
  color: #ffffff;
  transition: ease-out 300ms;
  transform: skew(10deg);
}

.project div:hover {
  transform: scale(1.2);
  transition: ease-out 300ms;
}

#home svg {
  width: 2.5rem;
  height: fit-content;
}

#home svg:hover,
#contact button:hover {
  transform: scale(1.5);
  transition: ease-in-out 100ms;
}

#about {
  height: fit-content;
}

#about p {
  color: #b0b0b0;
  font-size: 1.3rem;
}

#about h4 {
  background-color: #4ecca21c;
  border: none;
  border-radius: 12px;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  color: #4ecca3;
}

#about ul {
  list-style-type: square;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
}

#about ul li {
  margin: 3px;
}

.project {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  width: 100%;
}

.project div {
  max-width: 15rem;
  width: 100%;
  margin: 20px;
  overflow: hidden;
  height: fit-content;
}

.project div img {
  border: 1px solid #b0b0b0;
  width: 100%;
  height: inherit;
}

.project p {
  vertical-align: text-top;
  max-width: 23rem;
  width: 90%;
  line-height: 1.5rem;
  font-size: 1rem;
  color: #b0b0b0c8;
}

#contact {
  text-align: center;
  font-size: 1.3rem;
}

#contact p {
  color: #b0b0b0;
  width: 25rem;
  margin: 0 auto;
  line-height: 2rem;
}

#contact button {
  margin: 1rem;
  width: 7rem;
  height: 3rem;
  border: 2px solid #62f9d5;
  color: #4ecca3;
  background-color: transparent;
}

@media screen and (max-width: 800px) {
  body {
    padding: 2rem;
  }

  section {
    display: block;
    width: 100%;
    margin: 0;
    position: relative;
  }

  #home {
    position: relative;
    width: 100%;
    margin-bottom: 4rem;
  }

  #home h1,
  #home h2 {
    font-size: 2rem;
    font-family: Quicksand Medium;
    line-height: 1.5rem;
  }

  #home nav {
    display: none;
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    width: 100%;
  }

  .project div,
  .project p {
    vertical-align: text-top;
    width: 100%;
    max-width: 90%;
    line-height: 1.5rem;
    text-align: left;
    font-size: 1rem;
    color: #b0b0b0c8;
  }

  .project div:hover {
    transform: none;
    transition: ease-out 300ms;
  }
}
